<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Prediksi</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Prediksi</h1>
          <form method="POST" action="http://127.0.0.1:5000/hasil">
            Age : <input type = 'number' name='age'/>
            <br>Sex : (1=Male, 0=Female) :<input type = 'number' name='sex'/>
            <br>Chest Pain Type (0 = typical, 1 = asymptotic, 2 = nonanginal, 3 = nontypical) :<input type = 'number' name='cp'/>
            <br>Resting Blood Pressure (mmHg): <input type = 'number' name='trestbps'/>
            <br>Serum cholestoral : <input type = 'number' name='chol'/>
            <br>Fasting blood sugar > 120mm/dl (1 = true, 0 = false): <input type = 'number' name='fbs'/>
            <br>Resting electrocardiographic (0/1/2): <input type = 'number' name='restecg'/>
            <br>Maximum heart rate achieved : <input type = 'number' name='thalach'/>
            <br>Exercise induced angina (1 = yes, 0 = no) : <input type = 'number' name='exang'/>
            <br>ST depression induced by exercise relative to rest : <input type = 'number' name='oldpeak'/>
            <br>The slope of the peak exercise ST Segment (0/1/2): <input type = 'number' name='slope'/>
            <br>Number of major vessels colored by flourosopy (0/1/2/3/4): <input type = 'number' name='ca'/>
            <br>Thal (0/1/2/3) : <input type = 'number' name='thal'/>
            <br><input type='submit' value='Classify'/>
        </form>
        </div>
      </div>
    























    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>